# Core dependencies
numpy>=1.26
scipy
tqdm
matplotlib
pandas
polars

# PyTorch (GPU-enabled)
torch>=2.9.1
torchvision>=0.18.1
torchaudio>=2.9.1
torchmetrics

# ML/Crypto tools
scikit-learn
joblib
einops
estimator
wandb
chardet
fpylll

# For visualization
seaborn
